@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.rating {
  display: inline-block; /* Make the stars display in a row */
  font-size: 20px; /* Adjust the size as needed */
  color: gold; /* Set the color for filled stars */
}
.container::-webkit-scrollbar {
  height: 12px;
}

.container::-webkit-scrollbar-track {
  background-color: rgb(255, 252, 255);
  border-radius: 12px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(189, 8, 245);
  border-radius: 12px;
}

.rating .empty {
  color: #ccc; /* Set the color for empty stars */
}
.reviews-container {
  /* ... other styles */
  flex-wrap: nowrap; /* Prevent cards from wrapping */
  gap: 10px; /* Add spacing between cards */
}

:root {
  --color-dark: #000000;
  --color-primary: #1a9bdd;
  --color-light-dark: #262626;
  --color-slight-dark: #1b1b1b;
  --color-white-gray: #ffffff66;
}
@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  }
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  color: #151515;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2525253a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.show-height {
  height: 100vh;
  opacity: 1;
  animation: showHeight 1s ease-in-out;
}

@keyframes showHeight {
  0% {
    height: 0vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100vh;
  }
}

.hide-height {
  height: 0;
  opacity: 0;
  animation: hideHeight 1s ease-in-out;
}

@keyframes hideHeight {
  0% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    height: 0vh;
    opacity: 0;
  }
}

/* LINK HOVER EFFECT */

.deskLink {
  position: relative;
  width: max-content;
}

.deskLink::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  border-radius: 5px;
  z-index: 1000;
  background-color: var(--primary-blue);
  transition: width 0.3s ease-in-out;
}
ul.a {
  list-style-type: disc;
}

.deskLink:hover::after {
  width: 100%;
}
